<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <a href="{{ path('index') }}">Accueil</a>
        -
        {% if app.user %}
            [{{ app.user.name }} , {{ app.user.country.name }}]
            <a href="{{ path('app_logout')}}">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_register')}}">Inscription</a>
            -
            <a href="{{ path('app_login')}}">Connexion</a>
        {% endif %}
        <a href="{{ path('about') }}">À propos</a>
        <hr/>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>