{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>

    <div class="container border">
    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(registrationForm.name, {
                    label: 'Nom '
                }) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe '
                }) }}
            </div>
        </div>
        <div class="row text-center">
            {{ form_row(registrationForm.country, {
                label: 'Pays '
            }) }}
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(registrationForm.agreeTerms, {
                    label: "Acceptez les conditions d'utilisation "
                }) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.captcha) }}
            </div>
            <div class="col-md-4">
                <span id="currentRole">Inscription en tant qu'utilisateur</span> 
                {{ form_row(registrationForm.adminButton) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-success">S'inscrire</button>
            </div>
        </div>
    {{ form_end(registrationForm) }}
    </div>

    <script type="text/javascript">
    function askAdmin() {
        do {
            var stop = true;
            var input = prompt("Veuillez entrer le mot de passe administrateur");
            if(input != null) {
                if(input == {{ adminPassword }}) { 
                    document.getElementById('registration_form_admin').value = "true";
                    document.getElementById('currentRole').textContent = "Inscription en tant qu'admin.";
                    document.getElementById('registration_form_adminButton').remove();
                } else {
                    stop = false;
                    alert("Mot de passe incorrect.");
                }
            }
        } while(!stop);
    }
    </script>

    <style type="text/css">
    .row {
        height: 10vh!important;
    }
    </style>
{% endblock %}
