{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}

{% block body %}
    <h1>Liste des séries</h1>

    <hr/>
    <h3>Recherche</h3>

    <form method="GET">
        Par genre :
        <select name="genre">
            <option></option>
        {% for genre in genres %}
            <option>{{ genre.name }}</option>
        {% endfor %}
        </select>

        </br>
        Par titre :
        <input type="text" name="title"></input>
        
        <input type="submit" value="Rechercher">

    </form>
    <a href="{{ path('series_index') }}" class="btn btn-dark">Annuler la recherche</a>
    </hr>

    <div class="container">
        <div class="row">
            {% for series in series %}
            <div class="col-md-4">
                <div class="row text-center"><a class="btn btn-secondary" href={{ path('series_show', {'id': series.id})}}> {{ series.title }} </a></div>
                <div class="row text-center"><img src={{ path('poster', {'id': series.id} ) }}></div>
            </div>
            {% else %}
                <div class="col-md-12 text-center">Aucune série trouvée.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block nav %}
{% set params=app.request.query.all %}

<div class="navigation">
    {{ knp_pagination_render(series, '', app.request.query.all) }}
</div>
{% endblock %}