{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}

{% block body %}
    <h1>Liste des séries</h1>

    <hr/>
    Recherche

    <form method="POST">
        </br>
        Par genre :
        <select name="genre">
            <option></option>
        {% for genre in genres %}
            <option>{{ genre.name }}</option>
        {% endfor %}
        </select>

        </br>
        Par titre :
        <input type="text" name="title"></input>
        
        </br>
        <input type="submit" name="Rechercher"/>
        <hr/>

    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Plot</th>
                <th>Director</th>
                <th>YoutubeTrailer</th>
                <th>YearStart</th>
                <th>YearEnd</th>
                <th>Notes<th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.title }}</td>
                <td>{{ series.plot }}</td>
                <td>{{ series.director }}</td>
                <td><a href="{{ series.youtubeTrailer }}">Click to see trailer</a></td>
                <td>{{ series.yearStart }}</td>
                <td>{{ series.yearEnd }}</td>
                <td><a href="{{ path('series_show', {'id': series.id}) }}">show</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block nav %}
<nav>
    {% if page > 0 %}
    <a href=" {{ path('series_index') }}?page={{ page - 1 }}"><-</a>
    {% endif %}

    <a href=" {{ path('series_index') }}?page={{ page + 1 }}">-></a>
</nav>
{% endblock %}