{% extends 'base.html.twig' %}

{% block title %} Notes {% endblock %}

{% block body %}
    <h1>Notes de la série "{{ series.title }}" </h1>

        <a class="btn btn-primary liens" href={{ path('series_show', {'id': series.id}) }}>Retour</a>
        <a class="btn btn-primary" href="{{ path('rating_new' , { 'series' : series.id }) }}">Noter</a>

    <table class="table">
        <thead>
            <tr>
                <th>Note</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
        {% for rating in rating %}
            <tr>
                <td>{{ rating.value }}</td>
                <td>{{ rating.comment }}</td>
                <td>{{ rating.dateToString }}</td>
                <td>{{ rating.user }}</td>
                {% if app.user and app.user.admin %}
                    <td>{{ include('rating/_delete_form.html.twig', {'rating': rating}) }}</td>
                {% endif %} 
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucune note trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}