{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <h1>Notes de la série "{{ series.title }} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ rating.value }}</th>
                <th>{{ rating.comment }}</th>
                <th>{{ rating.date }}</th>
                <th>{{ rating.user }}</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.title }}</td>
                <td>{{ series.plot }}</td>
                <td>{{ series.director }}</td>
                <td><a href="{{ series.youtubeTrailer }}">Click to see trailer</a></td>
                <td>{{ series.yearStart }}</td>
                <td>{{ series.yearEnd }}</td>
                <td><a href="/rating/{{ series.id }}">Click to see the ratings</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block nav %}
<nav>
    {% if page > 0 %}
    <a href=" {{ path('series_index') }}?page={{ page - 1 }}"><-</a>
    {% endif %}

    <a href=" {{ path('series_index') }}?page={{ page + 1 }}">-></a>
</nav>
{% endblock %}