{% extends 'base.html.twig' %}

{% block title %} WOW {% endblock %}

{% block body %}
    <h1>Notes de la série "{{ series.title }} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Note</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
        {% for rating in rating %}
            <tr>
                <td>{{ rating.value }}</td>
                {% if rating.comment %}
                    <td>{{ rating.comment }}</td>
                {% endif %}
                <td>{{ rating.date }}</td>
                <td>{{ rating.user }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        <a href="{{ path('rating_new') }}">
        </tbody>
    </table>

{% endblock %}

{% block nav %}
<nav>
    {% if page > 0 %}
    <a href=" {{ path('series_index') }}?page={{ page - 1 }}"><-</a>
    {% endif %}

    <a href=" {{ path('series_index') }}?page={{ page + 1 }}">-></a>
</nav>
{% endblock %}