{% extends 'base.html.twig' %}

{% block title %} WOW {% endblock %}

{% block body %}
    <h1>Notes de la série "{{ series.title }}" </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Note</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
        {% for rating in rating %}
            <tr>
                <td>{{ rating.value }}</td>
                <td>{{ rating.comment }}</td>
                <td>{{ rating.dateToString }}</td>
                <td>{{ rating.user }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        <a href="{{ path('rating_new' , { 'series' : series.id }) }}">New</a>
        </tbody>
    </table>

{% endblock %}