{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Series</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ series.title }}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{ series.plot }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td><img src={{ path('poster', {'id': series.id}) }}/></td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ series.director }}</td>
            </tr>
            <tr>
                <th>YoutubeTrailer</th>
                <td><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ youtube_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></td>
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{ series.awards }}</td>
            </tr>
            <tr>
                <th>Dates</th>
                <td>{{ series.yearStart }} - {% if series.yearEnd %} 
                                                {{ series.yearEnd }} 
                                             {% else %}
                                                ? 
                                             {% endif %}
           </tr> 
        </tbody>
    </table>

    <a href="{{ path('series_index') }}">Retour à la liste</a>

    
    

    {% if app.user %}
    <a href="{{ path('series_rating', {'series': series.id}) }}">Rate</a>

        {% if app.user.admin %}
            <a href="{{ path('series_edit', {'id': series.id}) }}">Modifier</a>
            {{ include('series/_delete_form.html.twig') }}
        {% endif %}

        {% if following %}
            <a href={{ path('series_unfollow', {"id": series.id}) }}>Ne plus suivre</a>
        {% else %}
            <a href={{ path('series_follow', {"id": series.id}) }}>Suivre</a>
        {% endif %}
    {% endif %}

    
{% endblock %}
