{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <h1 class="text-center">{{ season.series.title }}</h1>
    <h2 class="text-center">Saison {{ season.number }}</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <ul class="list-unstyled border border-dark rounded" style="background-color: #c5c6c7;">
                    {% for episode in season.episodes %}
                        <li>{{ episode.number }} : {{ episode.title }} | Note : {{ episode.imdbrating }}</li>
                        {% if app.user %}
                            {% if episode.isSeen(app.user) %}
                                <label>Vous avez vu cette épisode
                                <a class="btn btn-dark" href={{ path('season_unwatched', {'season': season.id, 'id' : episode.id } ) }}>Pas vu ? Clique ici</a>
                                {% else %}
                                <a class="btn btn-dark" href={{ path('season_watched', {'season': season.id, 'id' : episode.id }  ) }}>Vu ? Clique ici</a>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
