{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <h1>Season</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Série</th>
                <td>{{ season.series.title }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Épisodes</th>
                <td>
                    <ul>
                    {% for episode in season.episodes %}
                        <li>{{ episode.number }} : {{ episode.title }} | Note : {{ episode.imdbrating }}</li>
                        {% if app.user %}
                            <form methd="POST" action="{{ path('season_show'), {"id" : season.series.id} }}">
                                <label>Vu :</label>
                                <input id="checkBox" type="checkbox">
                            </form>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            </tr>   
        </tbody>
    </table>

    <a href="{{ path('series_show', {"id": season.series.id}) }}">Retour à la série</a>
    {% if app.user %}
        {% if app.user.admin %}
            <a href="{{ path('season_edit', {'id': season.id}) }}">Éditer</a>
            {{ include('season/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
