{% extends 'base.html.twig' %}

{% block title %}Rating index{% endblock %}

{% block body %}
    <h1>Rating index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Valeur</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rating in ratings %}
            <tr>
                <td>{{ rating.user.name }}</td>
                <td>{{ rating.value }}</td>
                <td>{{ rating.comment }}</td>
                <td>{{ rating.date ? rating.date|date('Y-m-d H:i:s') : '' }}</td>
                {% if app.user and app.user.admin %}
                    <td>{{ include('rating/_delete_form.html.twig', {'rating': rating}) }}</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune note trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
