{% extends 'base.html.twig' %}
{% block body %}
	<div class="jumbotron text-center">
		<h1 class="display-2">Bienvenue !</h1>
		<p class="lead">Ce site répertorie de nombreuses séries, films et autres à découvrir !</p>
		<hr class="my-4">
		{% if app.user %}
		
		<div class="col-md-1 mx-auto">
			<div class="row my-2">
				<a href="{{ path('user_series') }}" class="btn btn-primary">Mes séries</a>
			</div>

			<div class="row my-2">
				<a href="{{ path('profile') }}" class="btn btn-primary">Mon profil</a>
			</div>

			<div class="row my-2">
				<a href="{{ path('about') }}" class="btn btn-secondary">À propos</a>
			</div>

			<div class="row mt-4">
				<a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
			</div>	
		</div>
		{% else %}
		<p><em>Connectez-vous ou inscrivez-vous pour avoir accès à toutes les fonctionnalités.</em></p>
		<a href="{{ path('app_login') }}" class="btn btn-success btn-large">Se connecter</a>
		{% endif %}
		<hr class="my-4">

	<div class="d-flex justify-content-center mt-4">
		<a href=" {{ path('series_index') }} " class="btn btn-dark">Parcourir les séries</a>
	</div>
{% endblock %}
