{% extends "base.html.twig" %}

{% block title %}
	Profil
{% endblock %}

{% block body %}
	<div class="row center text-center">
		<div class="col-md-3 mx-auto" style="background-color : #E5EFF0; border : solid 2px black; border-radius : 10px;>
			<p class="justify-content-center">Nom d'utilisateur :
				<strong>{{ app.user.name }}</strong>
			</p>
		</br>
		<p class="justify-content-center">E-mail :
			<strong>{{ app.user.email }}</strong>
		</p>
	</br>
	<p class="justify-content-center">Pays :
		<strong>{{ app.user.country.name }}</strong>
	</p>
</br>
<p class="justify-content-center">Role :
	<strong>
		{% if app.user.admin %}
			Admin
		{% else %}
			Utilisateur
		{% endif %}
	</strong>
</p></br><p class="justify-content-center">Date d'inscription :
<strong>{{ app.user.registerDate.format('d-m-Y') }}
	(Il y a
	{{ days }})</strong></p></br></div></div>{% endblock %}
